@import "layout.less";

/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	color: #cecece;
	background: #2a2b30;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #fff;
	outline: none;
}

a:hover {
	color: #ddd;
}

.container {
	overflow-y: auto;
	height: 100vh;
}

.add-btn {
 position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 0 0 auto;
    padding: 2em 3em;

	button.add-btn--icon {	
		    background: transparent;
    font-size: 2em;
    font-weight: 100;
    color: #FFFFFF;
    padding: 0.5em 0.8em;
    border: none;
    background-color: #DC5C5C;
    border-radius: 50%;
	}
}

/* workflow datalist */

ul.workflow-list {
  display: flex;
    flex-direction: row;
    flex-flow: wrap;
    
    li.card {
    display: block;
    background: white;
    padding: 1em 1em;
    margin: 1rem;
	background: #3E3F48;
    /* width: 33.3%; */
    border-radius: 0.3rem;
    }
}


ul.wf-card-list{
    list-style-type: decimal-leading-zero;
    
    li.item {
        border-bottom: 1px solid #DC5C5C;
         padding: 1em 1em;
         margin: 1rem;
        
        &:last-child {
            border-bottom: none;
        }
    }
}