
/* Colors */
@accent: #45464e;
@background-color-light: #fff;


/* Card */
@card-orange: #FB7D44;
@card-blue: #2A92BF;
@card-yellow: #F4CE46;
@card-green: #00B961;
@black: #000;


// @card-bg: #fff;

// .card-box-shadow {
// 	-webkit-box-shadow: 0 2px 0 #FFFFFF, 0 3px 10px rgba(168, 168, 168, 0.13), 0 0px 10px rgba(48, 48, 48, 0), 0 0px 4px rgba(0, 0, 0, 0.02), 0 5px 20px rgba(32, 32, 32, 0), 0 15px 40px rgba(227, 227, 227, 0.75), inset 0 0 15px rgba(255, 255, 255, 0);
//     box-shadow: 0 2px 0 #FFFFFF, 0 3px 10px rgba(168, 168, 168, 0.13), 0 0px 10px rgba(48, 48, 48, 0), 0 0px 4px rgba(0, 0, 0, 0.02), 0 5px 20px rgba(32, 32, 32, 0), 0 15px 40px rgba(227, 227, 227, 0.75), inset 0 0 15px rgba(255, 255, 255, 0);
// }



@ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);