var path = require('path'),
  rootPath = path.normalize(__dirname + '/..'),
  env = process.env.NODE_ENV || 'development';

var config = {
  development: {
    root: rootPath,
    app: {
      name: 'passportfb',
    },
    port: 3000,
    auth: {
      facebook: {
        key: xxx,
        secret: 'yyy'
      },
      twitter: {
        key: 'xxx',
        secret: 'yyy'
      },
      github: {
        key: 'xxx',
        secret: 'yyy'
      },
      google: {
        key: 'xxx',
        secret: 'yyy'
      }
    }
  },

  test: {
    root: rootPath,
    app: {
      name: 'passportfb'
    },
    port: 3000,
  },

  production: {
    root: rootPath,
    app: {
      name: 'passportfb'
    },
    port: 3000,
  }
};

module.exports = config[env];
